<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="RustaceanRank: PageRank over the graph of Rust crates and their owners.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>RustaceanRank | John Beatty</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@john_d_beatty">
    <meta name="twitter:creator" content="@john_d_beatty">

    <!-- Shared social media -->
  
    <meta property="og:title" content="RustaceanRank | John Beatty">
    <meta name="twitter:title" content="RustaceanRank | John Beatty">
    <meta property="og:description" content="RustaceanRank: PageRank over the graph of Rust crates and their owners.">
    <meta name="twitter:description" content="RustaceanRank: PageRank over the graph of Rust crates and their owners.">
    <meta property="og:image" content="https://www.rustacean.net/assets/rustacean-flat-happy.png">
    <meta name="twitter:image" content="https://www.rustacean.net/assets/rustacean-flat-happy.png">
<body>

<section class="section">
    <div class="columns">
        <div class="column is-half">
            <h2 class="is-size-3">RustaceanRank</h2>
{{#users}}
<div class="media">
    <div class="media-left">
        <a href="https://github.com/{{gh}}"><img class="image is-rounded is-96x96" src="{{image_url}}"></a>
    </div>
    <div class="media-content">
        <p class="is-size-5 has-text-weight-bold">{{rank}}. {{name}}</p>
        <p class="is-size-6 has-text-weight-bold">{{score}}</p>
        <p class="is-size-6"><a href="https://github.com/{{gh}}">github.com/{{gh}}</a> | <a href="https://crates.io/users/{{gh}}">crates.io/users/{{gh}}</a></p>
        <p>owns {{#crates}}<a href="https://crates.io/crates/{{name}}">{{name}}</a> {{/crates}}{{crate_more}}
    </div>
</div>
{{/users}}

        </div>
        <div class="column is-half">
            <h2 class="is-size-3">About</h2>
        </div>
    </div>

</body>
</html>
